<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ $style := resources.Get "style.scss" | resources.ToCSS }}
<style>{{ $style.Content | safeCSS }} </style>

    <title>{{ .Title }}</title>
</head>
<body>
  <div class="content">
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <main>
        {{ .Content }}
    </main>
    <footer>
      無象舎(muzo-sha) <a href="mailto:mzo@kuku9.net">mzo@kuku9.net</a>
    </footer>
  </div>
</body>
</html>
